[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Mm]emoryCaptures/

# Unity cache
UserSettings/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db

# OS files
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vs/
.idea/
*.unityproj

# Crash logs
sysinfo.txt
